repos:
  - repo: local
    hooks:
      - id: run-tests
        name: Run Django Tests
        entry: python manage.py test
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]