repos:
  - repo: local
    hooks:
      - id: run-pytest
        name: Run Tests with Coverage (pytest)
        entry: bash -c 'pytest --cov=core --cov=booking_system_api --cov-fail-under=80 --cov-report=term-missing -q'
        language: system
        pass_filenames: false
        always_run: true
        stages: [push]