[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
djoser = "*"
sendgrid = "*"
python-decouple = "*"
django-sendgrid-v5 = "*"

[dev-packages]

[requires]
python_version = "3.13"
